



.nowrp {
  grid-area: main;
  grid-column-start: 1;
  grid-column-end: 4;
}

h1 {
  background: #ccffb3;
  display: inline;
}

p {
  background: #ffff00;
}



canvas {
  border: 1px solid black;
  padding: 20px;

}




section {
  background: #d9d9d9;
  grid-area:center;
}

.lorem{

}

.agua{
align-self:;
display:block;
  justify-content:flex-start;
}

article {
  background: #ff8080;

}

.ad {
  background:white;
  width:200px;
}

aside.a {
  background: #4dffdb;
  text-align: center;
  grid-area: aside1;
  justify-content: center;

}

aside.b {
  background: #4dffdb;
  text-align: center;
  grid-area:aside2;
  justify-content: center;

}

.footer {
  background: #497fd0;
  text-align: center;
  grid-area:footer;
}

footer > article {
  background: #5dd55d;
}



/*theme: midnight_fantasy*/
@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
    padding: 5px;
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    padding: 5px;
    display: -ms-grid;
    display: grid;
    grid: "header header header" "aside1 center aside2" ".      main .     " "footer footer footer";
    -ms-grid-columns: 200px auto 200px;
        grid-template-columns: 200px auto 200px;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
  }
}

.header {
  background: #74beab;
  text-align: center;
  position: relative;
  grid-area: header;
}

.main__menu ul {
  background: #99a3ff;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.main__menu li {
  background: #99ff9e;
}

.main__menu + span {
  height: 20px;
}

body {
  /*background: #39004d;*/
  font-size: 1em;
  padding: 0px;
  margin: 0em;
}

.h1head {
  font-size: 1rem;
}

p {
  margin: 0px;
}
